imageio<=2.6.1
wheel
grpcio==1.28.1
numpy==1.16.6
scipy==1.2.1
matplotlib==2.2.3
scikit-image==0.14.2
chumpy==0.68
opencv-python==4.1.2.30
absl-py
tensorflow-gpu==1.12.0
ipdb
pyrender==0.1.15
trimesh==3.2.0
protobuf==3.17.3